@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
*{
  font-family: "Nunito", sans-serif;
}
.nav-container {
  margin: 0;
  border: 0;
  padding: 0;
}
.nav-container .text.links .items {
  margin-right: 4.5rem;
  font-size: 1.2rem;
  white-space: nowrap;
}
.nav-container .title {
  font-size: 4rem;
  font-weight: bolder;
}
.body-header {
  font-size: 3rem;
}
.body-content {
  margin: 2rem 0 0 4rem;
  width: 55%;
}
.body-description {
  font-size: 1.2rem;
  margin-top: 1rem;
}
.home-body-content {
  position: relative;
  display: grid;
  grid-template-columns: 5fr 4fr;
  height: 100vh;
}

.button {
  margin: 0.5rem;
  width: 8rem;
  font-size: 1rem;
  border-radius: 8px;
  margin-top: 4rem;
  margin-right: 3rem;
}
.button.text.primary{
  color: rgb(255, 255, 255);
  border-style: none;

}
.link-items{
  text-decoration: none;
}
.lni.lni-bulb,.fas.fa-lightbulb{
 font-size: 4rem;
 position: relative;
 z-index: 99;
 cursor: pointer;
}
.text.links.darkMode{
background-color: #000000;
color: #ffffff;
}
.text.links.darkMode .items a{
  color: #ffffff;
}
.text.links .items a{
  color: #000000;
}
.link-items.dark .text {
  color: #ffffff;
}

@media only screen and (max-width: 640px) {
  .home-body-content {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;

  }
  .body-content {
    margin: 2rem 0 0 2rem;
    justify-content: center;
    width: 100%;
    align-items: center;
  }
}
